.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
!.env.example
cypress/videos
coverage
.DS_STORE
.cache
.temp
node_modules/
dist/
.vscode
storybook-static
.eslintcache
.npmrc
cypress/screenshots
yarn-error.log
.history