@use '../../../../../../../packages/ui/src/mixins.scss';

.card {
  border-radius: var(--border-radius-lg);
  background: var(--background);
  border: var(--border) var(--theme-border);
  width: 100%;
  padding: var(--spacing-xl);
  box-shadow: var(--shadow);
}

.value-card {
  @include mixins.card();

  --card-text-size: var(--text-sm);
  --card-text-color: var(--theme-subtext);
  --card-value-weight: var(--font-weight-bold-2);

  border-radius: var(--border-radius-lg);
  background: var(--theme-surface-1);

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-lg);
  gap: var(--spacing-lg);
}
