.summary {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: var(--spacing-sm);

  .summary-title {
    color: var(--theme-subtext);
  }

  .summary-value {
    font-size: var(--text-3xl);
    font-weight: var(--font-weight-bold-1);
  }
}
