@mixin card($use-border: true, $background: var(--color-light)) {
  box-shadow: var(--shadow);
  border-radius: var(--border-radius-lg);
  background: $background;

  @if $use-border {
    border: var(--border);
  }
}

$viewport-mobile: 393px;
$viewport-mobile-up: 394px;

@mixin mobile {
  @media (max-width: $viewport-mobile) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $viewport-mobile-up) {
    @content;
  }
}

.subtext {
  font-size: var(--text-sm);
  color: var(--color-grey-2);
}

.dotted-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.disabled {
  opacity: 50%;
  pointer-events: none;
}