@mixin card() {
  box-shadow: var(--shadow);
  border-radius: var(--border-radius-lg);
  background: var(--theme-surface-2);
  border: var(--border) var(--theme-border);
}

@mixin desktop {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}

