@mixin card() {
  box-shadow: var(--shadow);
  border-radius: var(--border-radius-lg);
  background: var(--theme-surface-2);
  border: var(--border) var(--theme-border);
}

$viewport-mobile: 393px;
$viewport-mobile-up: 394px;

@mixin mobile {
  @media (max-width: $viewport-mobile) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $viewport-mobile-up) {
    @content;
  }
}

.subtext {
  font-size: var(--text-sm);
  color: var(--theme-subtext);
}

.dotted-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.disabled {
  opacity: 50%;
  pointer-events: none;
}