image:
  tag: {{ .StateValues.ci.tag }}

ingress:
  enabled: true
  hosts:
    - host: dev-sandbox.rdx-works-main.extratools.works
      paths:
        - path: /
          pathType: Prefix

alertmanager:
  env: "dev"
  nameOverride: "dapps-sandbox-amcfg"
  slackConfig:
    channel: "feed--alerts-dapps-dev"
  secrets:
    region: eu-west-2
    name: "rtlj-prod/eks/dapps/dev/alertmanager-integration-keys"