* {
  --invalid-text-color: var(--theme-error-primary);
  --invalid-background-color: var(--theme-error-secondary);
  --invalid-border-color: var(--theme-error-primary);

  --card-padding-left-right: var(--spacing-lg);
  --card-padding-top-bottom: var(--spacing-md);
  --card-border-radius: var(--border-radius-xl);
}
